/*Hides the cursor, so custom ones can be used*/
* {
    cursor: none;
}

/*Makes the custom cursor*/
#custom-cursor {
    /* width: 5px;
    height: 5px;
    border: 1px solid black;
    border-radius: 100%; Non-image-based-cursor*/
    margin: 0;
    padding: 0;
    position: absolute;
    /*Makes the element not react to events like dragging*/
    pointer-events: none;
}
